{{#extends "base"}}
  {{#block "content"}}

    <h2>Create Order</h2>

    <form method="POST">
      <label>Customer's user ID</label>
      <input type="text" name="user_id" class="form-control mb-3" />
      <p class="small text-muted">After creating this order, please add
        <a href="/order_details/create">order details</a>.</p>
      <input type="submit" class="btn btn-primary" value="Create Order" />
    </form>

  {{/block}}
{{/extends}}