{{#extends "base"}}
  {{#block "content"}}
    <h2>Error</h2>
    <p>{{errorMessage}}</p>
    <button
      onclick="window.history.back()"
      class="btn btn-primary"
    >Back</button>
  {{/block}}
{{/extends}}