{{#extends "base"}}
  {{#block "content"}}
    <h2>Products</h2>

    <table class="table">
      <tr>
        <th>Product ID</th>
        <th>Name</th>
        <th>Price</th>
      </tr>

      {{#each products}}
        <tr>
          <td>{{product_id}}</td>
          <td>{{name}}</td>
          <td>{{price}}</td>
        </tr>
      {{/each}}

    </table>

  {{/block}}
{{/extends}}