{{#extends "base"}}
  {{#block "content"}}
    <h1>Order Details</h1>
    <table class="table">
      <tr>
        <th>Order Detail ID</th>
        <th>Order ID</th>
        <th>Product</th>
        <th>Qty</th>
      </tr>

      {{#each order_details}}
        <tr>
          <td>{{order_detail_id}}</td>
          <td>{{order_id}}</td>
          <td>{{name}}</td>
          <td>{{quantity}}</td>
        </tr>
      {{/each}}
    </table>
  {{/block}}
{{/extends}}